body{
    font-family: 'Roboto Slab', serif;
}


header, 
footer {
    background-color: gray;
    margin: 0px;
    border: 10px solid gray;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul {
    list-style-type: none;
    color: aqua;
    display: flex;
    text-align: center;
    min-width: 300%;
    
}
footer ul {
    list-style-type: none;
    color:aqua;
    display: flex;
    align-items: center;
} 

 nav li {
    margin: 10px;
    font-size: 25px;
    text-decoration: underline;
}

footer li {
    margin: 10px;
    font-size: 25px;
    text-decoration: underline;
}

h1{
    color: aqua;
}

h2{
    text-align: right;
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 0px 0px;
    background-color: aqua;
}   

h4{
    color: aqua;
    font-size: 25px;
}

.row{
    display: flex;
    padding: 20px 0px 20px 20px;
}


.polaroid{
    background-color: aqua;
    width: 18%;
    box-shadow: 0 10px 20px 0 black;
    padding: 22px 0px 0 22px;
    margin:25px;
}

.container{
    text-align: center;
    padding: 10px 20px;
}
.workCap{
    font-weight: bolder;
}


img {
    width:200px;
    height:200px;
    background-color: aqua;
}

p{
    font-size:20px;
}


a:visited {
    color: gold;
  } 

